In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

admissions = pd.read_csv('../../mimic-iii-clinical-database-1.4/extracted/ADMISSIONS.csv')
patients = pd.read_csv('../../mimic-iii-clinical-database-1.4/extracted/PATIENTS.csv')

In [6]:
patients.head()

,ROW_ID,SUBJECT_ID,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG
0,234,249,F,2075-03-13 00:00:00,NaN,NaN,NaN,0
1,235,250,F,2164-12-27 00:00:00,2188-11-22 00:00:00,2188-11-22 00:00:00,NaN,1
2,236,251,M,2090-03-15 00:00:00,NaN,NaN,NaN,0
3,237,252,M,2078-03-06 00:00:00,NaN,NaN,NaN,0
4,238,253,F,2089-11-26 00:00:00,NaN,NaN,NaN,0

In [3]:
patients_admission = pd.merge(patients,admissions,on='SUBJECT_ID')
patients_admission.head()

,ROW_ID_x,SUBJECT_ID,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG,ROW_ID_y,HADM_ID,...,INSURANCE,LANGUAGE,RELIGION,MARITAL_STATUS,ETHNICITY,EDREGTIME,EDOUTTIME,DIAGNOSIS,HOSPITAL_EXPIRE_FLAG,HAS_CHARTEVENTS_DATA
0,234,249,F,2075-03-13 00:00:00,NaN,NaN,NaN,0,321,116935,...,Medicare,NaN,CATHOLIC,DIVORCED,WHITE,2149-12-17 11:10:00,2149-12-17 21:35:00,UNSTABLE ANGINA;ASTHMA;BRONCHITIS,0,1
1,234,249,F,2075-03-13 00:00:00,NaN,NaN,NaN,0,322,149546,...,Medicare,ENGL,CATHOLIC,DIVORCED,WHITE,2155-02-03 17:43:00,2155-02-03 21:26:00,GI BLEED/ CHEST PAIN,0,1
2,234,249,F,2075-03-13 00:00:00,NaN,NaN,NaN,0,323,158975,...,Medicare,ENGL,CATHOLIC,DIVORCED,WHITE,NaN,NaN,GI BLEEDING\COLONOSCOPY,0,1
3,235,250,F,2164-12-27 00:00:00,2188-11-22 00:00:00,2188-11-22 00:00:00,NaN,1,324,124271,...,Self Pay,HAIT,NOT SPECIFIED,SINGLE,BLACK/AFRICAN AMERICAN,2188-11-12 06:56:00,2188-11-12 10:10:00,PNEUMONIA;R/O TB,1,1
4,236,251,M,2090-03-15 00:00:00,NaN,NaN,NaN,0,325,117937,...,Private,NaN,OTHER,NaN,UNKNOWN/NOT SPECIFIED,2110-07-27 05:00:00,2110-07-27 07:15:00,INTRACRANIAL HEAD BLEED,0,1

In [4]:
patients_admission.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 58976 entries, 0 to 58975
Data columns (total 26 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ROW_ID_x              58976 non-null  int64
 1   SUBJECT_ID            58976 non-null  int64
 2   GENDER                58976 non-null  object
 3   DOB                   58976 non-null  object
 4   DOD                   22586 non-null  object
 5   DOD_HOSP              15071 non-null  object
 6   DOD_SSN               19069 non-null  object
 7   EXPIRE_FLAG           58976 non-null  int64
 8   ROW_ID_y              58976 non-null  int64
 9   HADM_ID               58976 non-null  int64
 10  ADMITTIME             58976 non-null  object
 11  DISCHTIME             58976 non-null  object
 12  DEATHTIME             5854 non-null   object
 13  ADMISSION_TYPE        58976 non-null  object
 14  ADMISSION_LOCATION    58976 non-null  object
 15  DISCHARGE_LOCATION    58976 non-null  object
 16  INSURANCE             58976 non-null  object
 17  LANGUAGE              33644 non-null  object
 18  RELIGION              58518 non-null  object
 19  MARITAL_STATUS        48848 non-null  object
 20  ETHNICITY             58976 non-null  object
 21  EDREGTIME             30877 non-null  object
 22  EDOUTTIME             30877 non-null  object
 23  DIAGNOSIS             58951 non-null  object
 24  HOSPITAL_EXPIRE_FLAG  58976 non-null  int64
 25  HAS_CHARTEVENTS_DATA  58976 non-null  int64
dtypes: int64(7), object(19)
memory usage: 12.1+ MB